#slajder1-sadrzaj1 { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 1029px;
	max-height:410px;
	margin:5px auto 12.5px;
	z-index:90;
	text-align:left; 
	font-size: 10px;
	text-shadow: none; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
#slajder1-sadrzaj1 .slajder_slike .list img{

	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}

#slajder1-sadrzaj1  .slajder_kruzici { 
	float: left;
	position:absolute;
	z-index:70;
}
#slajder1-sadrzaj1  .slajder_kruzici div{
	position:relative;
	float:left;
	font-size: 0px;
}

#slajder1-sadrzaj1 .slajder_photo {
	border: 3px solid #fff;
	
}

#slajder1-sadrzaj1  .slajder_kruzici { 
	padding: 3px 0; 
}
#slajder1-sadrzaj1 .slajder_kruzici a { 
	width:19px;
	height:19px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:6px;
	color:transparent;
}
#slajder1-sadrzaj1 .slajder_kruzici a.ws_selbull, #slajder1-sadrzaj1 .slajder_kruzici a:hover{
	background-position: 0 100%;
}
#slajder1-sadrzaj1 a.ws_next, #slajder1-sadrzaj1 a.ws_prev {
	background-size: 200% ;
	position: absolute;
	top: 50%;
    height: 6.5em;
    margin-top: -3.3em;   
    width: 4.3em;
	z-index: 60;
	background-image: url(./arrows.png);
}
#slajder1-sadrzaj1 a.ws_next{
	background-position: 100% 0;
	right:0.7em;
}
#slajder1-sadrzaj1 a.ws_prev {
	left:0.7em;
	background-position: 0 0; 
}
#slajder1-sadrzaj1 a.ws_next:hover{
	background-position: 100% 100%;
}
#slajder1-sadrzaj1 a.ws_prev:hover {
	background-position: 0 100%; 
}


#slajder1-sadrzaj1  .slajder_kruzici {
    bottom: 0px;
	left:50%;
}
#slajder1-sadrzaj1  .slajder_kruzici div{
	left:-50%;
}

#slajder1-sadrzaj1 .slajder_kruzici  a img{
	text-indent:0;
	display:block;
	bottom:15px;
	left:-60px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px #999999;
	-webkit-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
	max-width:none;
}
#slajder1-sadrzaj1 .slajder_kruzici a:hover img{
	visibility:visible;
}

#slajder1-sadrzaj1 .ws_bulframe div div{
	height:48px;
	overflow:visible;
	position:relative;
}
#slajder1-sadrzaj1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:120px;
	background-color:#FFFFFF;
}
#slajder1-sadrzaj1  .slajder_kruzici .ws_bulframe{
	display:none;
	bottom:21px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px #999999;
	-webkit-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 4px ridge rgba(255,255,255,.30);
}


